<h1 style="background: #c52121; color: #fff; width: 100%; padding: 20px 0;">
  ENCOMENDA CANCELADA
</h1>

<p style="font-size: 16px; margin-bottom: 10px; line-height: 1.8;">
  <span style="color: #c52121; font-weight: bold; font-size: 36px;">
    Caro(a) Enzo Azevedo Oliveira!
  </span>
  <br />
  A encomenda contendo o produto <strong>{{product}}</strong> foi cancelada no dia 
  <br />
  <strong>{{date}}</strong> por apresentar problemas na entrega.
</p>