<h2>Caro(a) <strong>{{name}}</strong>.</h2>
<p>
  A encomenda contendo o produto <strong>{{product}}</strong> foi cancelada no dia 
  <strong>{{date}}</strong> por apresentar problemas na entrega.
</p>
